<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_nVDVoKf3Eeai1MQIRTN9hA" specification="interface:&#xA;&#x9;var roomNumber:integer&#xA;&#x9;in event switchRoom&#xA;&#xA;interface reception:&#xA;&#x9;in event doCheckIn&#xA;&#x9;in event doCheckOut&#xA;&#x9;&#xA;interface admin:&#xA;&#x9;in event doBlockRoom&#xA;&#x9;in event doUnblockRoom&#xA;&#x9;&#xA;interface room:&#xA;&#x9;in event checkIn : integer&#xA;&#x9;in event checkOut : integer&#xA;&#x9;&#xA;&#x9;in event block : integer&#xA;&#x9;in event unblock : integer&#xA;&#x9;" name="assignment3_easy">
    <regions xmi:id="_nVEjwqf3Eeai1MQIRTN9hA" name="Receptionist">
      <vertices xsi:type="sgraph:Entry" xmi:id="_nVHnEaf3Eeai1MQIRTN9hA">
        <outgoingTransitions xmi:id="_nVJcQ6f3Eeai1MQIRTN9hA" target="_nVIOJ6f3Eeai1MQIRTN9hA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_nVIOJ6f3Eeai1MQIRTN9hA" name="Idle" incomingTransitions="_nVJcQ6f3Eeai1MQIRTN9hA _9miasKf3Eeai1MQIRTN9hA _tv748Kf4Eeai1MQIRTN9hA">
        <outgoingTransitions xmi:id="_9miasKf3Eeai1MQIRTN9hA" specification="reception.doCheckIn/raise room.checkIn : roomNumber" target="_nVIOJ6f3Eeai1MQIRTN9hA"/>
        <outgoingTransitions xmi:id="_tv748Kf4Eeai1MQIRTN9hA" specification="reception.doCheckOut/raise room.checkOut : roomNumber" target="_nVIOJ6f3Eeai1MQIRTN9hA"/>
      </vertices>
    </regions>
    <regions xmi:id="_pHQBIKf5EeaPELw6Hy3jPQ" name="Admin">
      <vertices xsi:type="sgraph:Entry" xmi:id="_rb3IEKf5EeaPELw6Hy3jPQ">
        <outgoingTransitions xmi:id="_tYcwkKf5EeaPELw6Hy3jPQ" specification="" target="_r9lVEKf5EeaPELw6Hy3jPQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_r9lVEKf5EeaPELw6Hy3jPQ" name="Idle" incomingTransitions="_tYcwkKf5EeaPELw6Hy3jPQ _unfWkKf5EeaPELw6Hy3jPQ _vG7EkKf5EeaPELw6Hy3jPQ">
        <outgoingTransitions xmi:id="_unfWkKf5EeaPELw6Hy3jPQ" specification="admin.doUnblockRoom/raise room.unblock : roomNumber" target="_r9lVEKf5EeaPELw6Hy3jPQ"/>
        <outgoingTransitions xmi:id="_vG7EkKf5EeaPELw6Hy3jPQ" specification="admin.doBlockRoom/raise room.block : &#xA;roomNumber" target="_r9lVEKf5EeaPELw6Hy3jPQ"/>
      </vertices>
    </regions>
    <regions xmi:id="_1cT0IKp8Eea9rP9r4tEs6w" name="roomSwitch">
      <vertices xsi:type="sgraph:Entry" xmi:id="_29vKoKp8Eea9rP9r4tEs6w">
        <outgoingTransitions xmi:id="_4GcfIKp8Eea9rP9r4tEs6w" specification="" target="_3MsMoKp8Eea9rP9r4tEs6w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_3MsMoKp8Eea9rP9r4tEs6w" name="idle" incomingTransitions="_4GcfIKp8Eea9rP9r4tEs6w _4VUooKp8Eea9rP9r4tEs6w">
        <outgoingTransitions xmi:id="_4VUooKp8Eea9rP9r4tEs6w" specification="switchRoom/roomNumber = (roomNumber+1)%2" target="_3MsMoKp8Eea9rP9r4tEs6w"/>
      </vertices>
    </regions>
    <regions xmi:id="_OBBOAKwHEeaa-7PsRVUtzA" name="Room0">
      <vertices xsi:type="sgraph:State" xmi:id="_SEJFMKwHEeaa-7PsRVUtzA" name="Free" incomingTransitions="_gCyxYKwHEeaa-7PsRVUtzA _lgtLkKwHEeaa-7PsRVUtzA _mVLVcKwHEeaa-7PsRVUtzA">
        <outgoingTransitions xmi:id="_jbiO0KwHEeaa-7PsRVUtzA" specification="room.checkIn [roomNumber == 0]" target="_aBLNMKwHEeaa-7PsRVUtzA"/>
        <outgoingTransitions xmi:id="_kHqVAKwHEeaa-7PsRVUtzA" specification="room.block [roomNumber == 0]" target="_a1wEwKwHEeaa-7PsRVUtzA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_aBLNMKwHEeaa-7PsRVUtzA" name="Occupied" incomingTransitions="_jbiO0KwHEeaa-7PsRVUtzA">
        <outgoingTransitions xmi:id="_lgtLkKwHEeaa-7PsRVUtzA" specification="room.checkOut [roomNumber == 0]" target="_SEJFMKwHEeaa-7PsRVUtzA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_a1wEwKwHEeaa-7PsRVUtzA" name="Blocked" incomingTransitions="_kHqVAKwHEeaa-7PsRVUtzA">
        <outgoingTransitions xmi:id="_mVLVcKwHEeaa-7PsRVUtzA" specification="room.unblock [roomNumber == 0]" target="_SEJFMKwHEeaa-7PsRVUtzA"/>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_cfHPQKwHEeaa-7PsRVUtzA">
        <outgoingTransitions xmi:id="_gCyxYKwHEeaa-7PsRVUtzA" target="_SEJFMKwHEeaa-7PsRVUtzA"/>
      </vertices>
    </regions>
    <regions xmi:id="_SQxroKwKEeaa-7PsRVUtzA" name="Room1">
      <vertices xsi:type="sgraph:State" xmi:id="_SQxroawKEeaa-7PsRVUtzA" name="Free" incomingTransitions="_SQ6OgawKEeaa-7PsRVUtzA _SQ2kIKwKEeaa-7PsRVUtzA _SQ4ZUawKEeaa-7PsRVUtzA">
        <outgoingTransitions xmi:id="_SQy5wKwKEeaa-7PsRVUtzA" specification="room.checkIn [roomNumber == 1]" target="_SQ1WAKwKEeaa-7PsRVUtzA"/>
        <outgoingTransitions xmi:id="_SQ0H4KwKEeaa-7PsRVUtzA" specification="room.block [roomNumber == 1]" target="_SQ3ySKwKEeaa-7PsRVUtzA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_SQ1WAKwKEeaa-7PsRVUtzA" name="Occupied" incomingTransitions="_SQy5wKwKEeaa-7PsRVUtzA">
        <outgoingTransitions xmi:id="_SQ2kIKwKEeaa-7PsRVUtzA" specification="room.checkOut [roomNumber == 1]" target="_SQxroawKEeaa-7PsRVUtzA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_SQ3ySKwKEeaa-7PsRVUtzA" name="Blocked" incomingTransitions="_SQ0H4KwKEeaa-7PsRVUtzA">
        <outgoingTransitions xmi:id="_SQ4ZUawKEeaa-7PsRVUtzA" specification="room.unblock [roomNumber ==1]" target="_SQxroawKEeaa-7PsRVUtzA"/>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_SQ6OgKwKEeaa-7PsRVUtzA">
        <outgoingTransitions xmi:id="_SQ6OgawKEeaa-7PsRVUtzA" target="_SQxroawKEeaa-7PsRVUtzA"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_nVEjwKf3Eeai1MQIRTN9hA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_nVDVoKf3Eeai1MQIRTN9hA" measurementUnit="Pixel">
    <children xmi:id="_nVFx4Kf3Eeai1MQIRTN9hA" type="Region" element="_nVEjwqf3Eeai1MQIRTN9hA">
      <children xsi:type="notation:DecorationNode" xmi:id="_nVHAAKf3Eeai1MQIRTN9hA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nVHAAaf3Eeai1MQIRTN9hA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nVHAAqf3Eeai1MQIRTN9hA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_nVHAA6f3Eeai1MQIRTN9hA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_nVHnEqf3Eeai1MQIRTN9hA" type="Entry" element="_nVHnEaf3Eeai1MQIRTN9hA">
          <children xmi:id="_nVIOIKf3Eeai1MQIRTN9hA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_nVIOI6f3Eeai1MQIRTN9hA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_nVIOJKf3Eeai1MQIRTN9hA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_nVIOJaf3Eeai1MQIRTN9hA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_nVIOIaf3Eeai1MQIRTN9hA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nVIOIqf3Eeai1MQIRTN9hA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_nVHnE6f3Eeai1MQIRTN9hA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_nVHnFKf3Eeai1MQIRTN9hA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nVIOJqf3Eeai1MQIRTN9hA" x="66" y="19"/>
        </children>
        <children xmi:id="_nVI1MKf3Eeai1MQIRTN9hA" type="State" element="_nVIOJ6f3Eeai1MQIRTN9hA">
          <children xsi:type="notation:DecorationNode" xmi:id="_nVI1NKf3Eeai1MQIRTN9hA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_nVI1Naf3Eeai1MQIRTN9hA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_nVI1Nqf3Eeai1MQIRTN9hA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_nVI1N6f3Eeai1MQIRTN9hA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_nVI1OKf3Eeai1MQIRTN9hA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nVI1Oaf3Eeai1MQIRTN9hA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_nVJcQKf3Eeai1MQIRTN9hA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_nVI1Maf3Eeai1MQIRTN9hA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_nVI1Mqf3Eeai1MQIRTN9hA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_nVJcQaf3Eeai1MQIRTN9hA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nVJcQqf3Eeai1MQIRTN9hA" x="39" y="73" width="86" height="69"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nVHABKf3Eeai1MQIRTN9hA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_nVFx4af3Eeai1MQIRTN9hA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nVHnEKf3Eeai1MQIRTN9hA" x="220" y="10" width="400" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_nVKqZKf3Eeai1MQIRTN9hA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_nVLRcKf3Eeai1MQIRTN9hA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nVLRcaf3Eeai1MQIRTN9hA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nVLRcqf3Eeai1MQIRTN9hA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_nVLRc6f3Eeai1MQIRTN9hA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nVLRdKf3Eeai1MQIRTN9hA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nVLRdaf3Eeai1MQIRTN9hA" x="10" y="10" width="200" height="400"/>
    </children>
    <children xmi:id="_pHSdYKf5EeaPELw6Hy3jPQ" type="Region" element="_pHQBIKf5EeaPELw6Hy3jPQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_pHVgsKf5EeaPELw6Hy3jPQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_pHVgsaf5EeaPELw6Hy3jPQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_pHVgsqf5EeaPELw6Hy3jPQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_pHVgs6f5EeaPELw6Hy3jPQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_rb6LYKf5EeaPELw6Hy3jPQ" type="Entry" element="_rb3IEKf5EeaPELw6Hy3jPQ">
          <children xmi:id="_rb6ycKf5EeaPELw6Hy3jPQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_rb6yc6f5EeaPELw6Hy3jPQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_rb6ydKf5EeaPELw6Hy3jPQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_rb6ydaf5EeaPELw6Hy3jPQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_rb6ycaf5EeaPELw6Hy3jPQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rb6ycqf5EeaPELw6Hy3jPQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_rb6LYaf5EeaPELw6Hy3jPQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_rb6LYqf5EeaPELw6Hy3jPQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rb6LY6f5EeaPELw6Hy3jPQ" x="53" y="24"/>
        </children>
        <children xmi:id="_r9mjMKf5EeaPELw6Hy3jPQ" type="State" element="_r9lVEKf5EeaPELw6Hy3jPQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_r9nKQKf5EeaPELw6Hy3jPQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_r9nKQaf5EeaPELw6Hy3jPQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_r9nKQqf5EeaPELw6Hy3jPQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_r9nKQ6f5EeaPELw6Hy3jPQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_r9nKRKf5EeaPELw6Hy3jPQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r9nKRaf5EeaPELw6Hy3jPQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_r9nKRqf5EeaPELw6Hy3jPQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_r9mjMaf5EeaPELw6Hy3jPQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_r9mjMqf5EeaPELw6Hy3jPQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_r9nKR6f5EeaPELw6Hy3jPQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r9mjM6f5EeaPELw6Hy3jPQ" x="196" y="24" width="87" height="74"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pHVgtKf5EeaPELw6Hy3jPQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_pHSdYaf5EeaPELw6Hy3jPQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pHSdYqf5EeaPELw6Hy3jPQ" x="225" y="514" width="793" height="226"/>
    </children>
    <children xmi:id="_1cWQYKp8Eea9rP9r4tEs6w" type="Region" element="_1cT0IKp8Eea9rP9r4tEs6w">
      <children xsi:type="notation:DecorationNode" xmi:id="_1cWQY6p8Eea9rP9r4tEs6w" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1cWQZKp8Eea9rP9r4tEs6w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1cWQZap8Eea9rP9r4tEs6w"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_1cWQZqp8Eea9rP9r4tEs6w" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_29w_0Kp8Eea9rP9r4tEs6w" type="Entry" element="_29vKoKp8Eea9rP9r4tEs6w">
          <children xmi:id="_29xm4Kp8Eea9rP9r4tEs6w" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_29xm46p8Eea9rP9r4tEs6w" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_29xm5Kp8Eea9rP9r4tEs6w"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_29xm5ap8Eea9rP9r4tEs6w"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_29xm4ap8Eea9rP9r4tEs6w" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_29xm4qp8Eea9rP9r4tEs6w"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_29w_0ap8Eea9rP9r4tEs6w" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_29w_0qp8Eea9rP9r4tEs6w" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_29w_06p8Eea9rP9r4tEs6w" x="106" y="16"/>
        </children>
        <children xmi:id="_3MszsKp8Eea9rP9r4tEs6w" type="State" element="_3MsMoKp8Eea9rP9r4tEs6w">
          <children xsi:type="notation:DecorationNode" xmi:id="_3MsztKp8Eea9rP9r4tEs6w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_3Msztap8Eea9rP9r4tEs6w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_3Msztqp8Eea9rP9r4tEs6w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_3Mszt6p8Eea9rP9r4tEs6w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_3MszuKp8Eea9rP9r4tEs6w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3Mszuap8Eea9rP9r4tEs6w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_3MtawKp8Eea9rP9r4tEs6w" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_3Mszsap8Eea9rP9r4tEs6w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_3Mszsqp8Eea9rP9r4tEs6w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_3Mtawap8Eea9rP9r4tEs6w" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3Mszs6p8Eea9rP9r4tEs6w" x="96" y="119"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1cWQZ6p8Eea9rP9r4tEs6w"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_1cWQYap8Eea9rP9r4tEs6w" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1cWQYqp8Eea9rP9r4tEs6w" x="630" y="10" width="262" height="298"/>
    </children>
    <children xmi:id="_OBH7sKwHEeaa-7PsRVUtzA" type="Region" element="_OBBOAKwHEeaa-7PsRVUtzA">
      <children xsi:type="notation:DecorationNode" xmi:id="_OBLmEKwHEeaa-7PsRVUtzA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_OBLmEawHEeaa-7PsRVUtzA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_OBLmEqwHEeaa-7PsRVUtzA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_OBM0MKwHEeaa-7PsRVUtzA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_SEMvkKwHEeaa-7PsRVUtzA" type="State" element="_SEJFMKwHEeaa-7PsRVUtzA">
          <children xsi:type="notation:DecorationNode" xmi:id="_SENWoKwHEeaa-7PsRVUtzA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_SENWoawHEeaa-7PsRVUtzA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_SENWoqwHEeaa-7PsRVUtzA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_SEN9sKwHEeaa-7PsRVUtzA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_SEOkwKwHEeaa-7PsRVUtzA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_SEOkwawHEeaa-7PsRVUtzA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_SEOkwqwHEeaa-7PsRVUtzA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_SEMvkawHEeaa-7PsRVUtzA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_SEMvkqwHEeaa-7PsRVUtzA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_SEOkw6wHEeaa-7PsRVUtzA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_SEMvk6wHEeaa-7PsRVUtzA" x="247" y="38"/>
        </children>
        <children xmi:id="_aBMbUKwHEeaa-7PsRVUtzA" type="State" element="_aBLNMKwHEeaa-7PsRVUtzA">
          <children xsi:type="notation:DecorationNode" xmi:id="_aBNCYKwHEeaa-7PsRVUtzA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_aBNCYawHEeaa-7PsRVUtzA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_aBNCYqwHEeaa-7PsRVUtzA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_aBNCY6wHEeaa-7PsRVUtzA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_aBNCZKwHEeaa-7PsRVUtzA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aBNCZawHEeaa-7PsRVUtzA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_aBNCZqwHEeaa-7PsRVUtzA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_aBMbUawHEeaa-7PsRVUtzA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_aBMbUqwHEeaa-7PsRVUtzA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_aBNCZ6wHEeaa-7PsRVUtzA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aBMbU6wHEeaa-7PsRVUtzA" x="685" y="38"/>
        </children>
        <children xmi:id="_a1x58KwHEeaa-7PsRVUtzA" type="State" element="_a1wEwKwHEeaa-7PsRVUtzA">
          <children xsi:type="notation:DecorationNode" xmi:id="_a1x59KwHEeaa-7PsRVUtzA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_a1x59awHEeaa-7PsRVUtzA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_a1x59qwHEeaa-7PsRVUtzA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_a1x596wHEeaa-7PsRVUtzA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_a1x5-KwHEeaa-7PsRVUtzA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_a1x5-awHEeaa-7PsRVUtzA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_a1yhAKwHEeaa-7PsRVUtzA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_a1x58awHEeaa-7PsRVUtzA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_a1x58qwHEeaa-7PsRVUtzA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_a1yhAawHEeaa-7PsRVUtzA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_a1x586wHEeaa-7PsRVUtzA" x="13" y="110"/>
        </children>
        <children xmi:id="_cfJrgKwHEeaa-7PsRVUtzA" type="Entry" element="_cfHPQKwHEeaa-7PsRVUtzA">
          <children xmi:id="_cfLgsKwHEeaa-7PsRVUtzA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_cfMHwKwHEeaa-7PsRVUtzA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_cfMHwawHEeaa-7PsRVUtzA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_cfMHwqwHEeaa-7PsRVUtzA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_cfLgsawHEeaa-7PsRVUtzA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cfLgsqwHEeaa-7PsRVUtzA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_cfJrgawHEeaa-7PsRVUtzA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_cfJrgqwHEeaa-7PsRVUtzA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cfJrg6wHEeaa-7PsRVUtzA" x="259" y="-5"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_OBM0MawHEeaa-7PsRVUtzA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_OBH7sawHEeaa-7PsRVUtzA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_OBH7sqwHEeaa-7PsRVUtzA" x="936" y="10" width="796" height="217"/>
    </children>
    <children xmi:id="_SQvPYKwKEeaa-7PsRVUtzA" type="Region" element="_SQxroKwKEeaa-7PsRVUtzA">
      <children xsi:type="notation:DecorationNode" xmi:id="_SQvPYawKEeaa-7PsRVUtzA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_SQvPYqwKEeaa-7PsRVUtzA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_SQvPY6wKEeaa-7PsRVUtzA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_SQvPZKwKEeaa-7PsRVUtzA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_SQvPZawKEeaa-7PsRVUtzA" type="State" element="_SQxroawKEeaa-7PsRVUtzA">
          <children xsi:type="notation:DecorationNode" xmi:id="_SQvPZqwKEeaa-7PsRVUtzA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_SQvPZ6wKEeaa-7PsRVUtzA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_SQvPaKwKEeaa-7PsRVUtzA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_SQvPaawKEeaa-7PsRVUtzA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_SQvPaqwKEeaa-7PsRVUtzA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_SQvPa6wKEeaa-7PsRVUtzA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_SQvPbKwKEeaa-7PsRVUtzA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_SQvPbawKEeaa-7PsRVUtzA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_SQvPbqwKEeaa-7PsRVUtzA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_SQvPb6wKEeaa-7PsRVUtzA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_SQvPcKwKEeaa-7PsRVUtzA" x="247" y="38"/>
        </children>
        <children xmi:id="_SQvPcawKEeaa-7PsRVUtzA" type="State" element="_SQ1WAKwKEeaa-7PsRVUtzA">
          <children xsi:type="notation:DecorationNode" xmi:id="_SQvPcqwKEeaa-7PsRVUtzA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_SQvPc6wKEeaa-7PsRVUtzA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_SQvPdKwKEeaa-7PsRVUtzA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_SQvPdawKEeaa-7PsRVUtzA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_SQvPdqwKEeaa-7PsRVUtzA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_SQvPd6wKEeaa-7PsRVUtzA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_SQvPeKwKEeaa-7PsRVUtzA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_SQvPeawKEeaa-7PsRVUtzA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_SQvPeqwKEeaa-7PsRVUtzA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_SQvPe6wKEeaa-7PsRVUtzA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_SQvPfKwKEeaa-7PsRVUtzA" x="685" y="38"/>
        </children>
        <children xmi:id="_SQvPfawKEeaa-7PsRVUtzA" type="State" element="_SQ3ySKwKEeaa-7PsRVUtzA">
          <children xsi:type="notation:DecorationNode" xmi:id="_SQvPfqwKEeaa-7PsRVUtzA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_SQvPf6wKEeaa-7PsRVUtzA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_SQvPgKwKEeaa-7PsRVUtzA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_SQvPgawKEeaa-7PsRVUtzA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_SQvPgqwKEeaa-7PsRVUtzA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_SQvPg6wKEeaa-7PsRVUtzA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_SQvPhKwKEeaa-7PsRVUtzA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_SQvPhawKEeaa-7PsRVUtzA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_SQvPhqwKEeaa-7PsRVUtzA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_SQvPh6wKEeaa-7PsRVUtzA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_SQvPiKwKEeaa-7PsRVUtzA" x="13" y="110"/>
        </children>
        <children xmi:id="_SQvPiawKEeaa-7PsRVUtzA" type="Entry" element="_SQ6OgKwKEeaa-7PsRVUtzA">
          <children xmi:id="_SQvPiqwKEeaa-7PsRVUtzA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_SQvPi6wKEeaa-7PsRVUtzA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_SQvPjKwKEeaa-7PsRVUtzA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_SQvPjawKEeaa-7PsRVUtzA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_SQvPjqwKEeaa-7PsRVUtzA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_SQvPj6wKEeaa-7PsRVUtzA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_SQvPkKwKEeaa-7PsRVUtzA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_SQvPkawKEeaa-7PsRVUtzA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_SQvPkqwKEeaa-7PsRVUtzA" x="259" y="-5"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_SQvPk6wKEeaa-7PsRVUtzA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_SQvPlKwKEeaa-7PsRVUtzA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_SQvPlawKEeaa-7PsRVUtzA" x="936" y="240" width="796" height="217"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_nVEjwaf3Eeai1MQIRTN9hA"/>
    <edges xmi:id="_nVKDUKf3Eeai1MQIRTN9hA" type="Transition" element="_nVJcQ6f3Eeai1MQIRTN9hA" source="_nVHnEqf3Eeai1MQIRTN9hA" target="_nVI1MKf3Eeai1MQIRTN9hA">
      <children xsi:type="notation:DecorationNode" xmi:id="_nVKqYaf3Eeai1MQIRTN9hA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nVKqYqf3Eeai1MQIRTN9hA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nVKqY6f3Eeai1MQIRTN9hA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_nVKDUaf3Eeai1MQIRTN9hA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_nVKqYKf3Eeai1MQIRTN9hA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_nVKDUqf3Eeai1MQIRTN9hA" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_9mleAKf3Eeai1MQIRTN9hA" type="Transition" element="_9miasKf3Eeai1MQIRTN9hA" source="_nVI1MKf3Eeai1MQIRTN9hA" target="_nVI1MKf3Eeai1MQIRTN9hA">
      <children xsi:type="notation:DecorationNode" xmi:id="_9mleBKf3Eeai1MQIRTN9hA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_9mleBaf3Eeai1MQIRTN9hA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_9mleBqf3Eeai1MQIRTN9hA" x="-86" y="-74"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_9mleAaf3Eeai1MQIRTN9hA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_9mleA6f3Eeai1MQIRTN9hA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_9mleAqf3Eeai1MQIRTN9hA" points="[15, -4, 15, -4]$[82, -23, 82, -23]$[82, 76, 82, 76]$[15, 13, 15, 13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_9mn6QKf3Eeai1MQIRTN9hA" id="(0.8255813953488372,0.2318840579710145)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_9mn6Qaf3Eeai1MQIRTN9hA" id="(0.8255813953488372,0.2318840579710145)"/>
    </edges>
    <edges xmi:id="_tv-VMKf4Eeai1MQIRTN9hA" type="Transition" element="_tv748Kf4Eeai1MQIRTN9hA" source="_nVI1MKf3Eeai1MQIRTN9hA" target="_nVI1MKf3Eeai1MQIRTN9hA">
      <children xsi:type="notation:DecorationNode" xmi:id="_tv-VNKf4Eeai1MQIRTN9hA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tv-VNaf4Eeai1MQIRTN9hA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tv-VNqf4Eeai1MQIRTN9hA" x="5" y="-35"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_tv-VMaf4Eeai1MQIRTN9hA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_tv-VM6f4Eeai1MQIRTN9hA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_tv-VMqf4Eeai1MQIRTN9hA" points="[25, 32, 25, 32]$[68, 85, 68, 85]$[50, 130, 50, 130]$[25, 99, 25, 99]$[8, 32, 8, 32]"/>
    </edges>
    <edges xmi:id="_tYd-sKf5EeaPELw6Hy3jPQ" type="Transition" element="_tYcwkKf5EeaPELw6Hy3jPQ" source="_rb6LYKf5EeaPELw6Hy3jPQ" target="_r9mjMKf5EeaPELw6Hy3jPQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_tYelwaf5EeaPELw6Hy3jPQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tYelwqf5EeaPELw6Hy3jPQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tYelw6f5EeaPELw6Hy3jPQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_tYd-saf5EeaPELw6Hy3jPQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_tYelwKf5EeaPELw6Hy3jPQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_tYd-sqf5EeaPELw6Hy3jPQ" points="[7, 0, -172, -3]$[182, -7, 3, -10]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_tYga8Kf5EeaPELw6Hy3jPQ" id="(0.5287356321839081,0.14864864864864866)"/>
    </edges>
    <edges xmi:id="_unhy0Kf5EeaPELw6Hy3jPQ" type="Transition" element="_unfWkKf5EeaPELw6Hy3jPQ" source="_r9mjMKf5EeaPELw6Hy3jPQ" target="_r9mjMKf5EeaPELw6Hy3jPQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_uniZ4af5EeaPELw6Hy3jPQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_uniZ4qf5EeaPELw6Hy3jPQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_uniZ46f5EeaPELw6Hy3jPQ" x="-105" y="-19"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_unhy0af5EeaPELw6Hy3jPQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_uniZ4Kf5EeaPELw6Hy3jPQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_unhy0qf5EeaPELw6Hy3jPQ" points="[23, 14, 23, 14]$[131, 81, 131, 81]$[48, 81, 48, 81]$[8, 14, 8, 14]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_unkPEKf5EeaPELw6Hy3jPQ" id="(0.22988505747126436,0.7972972972972973)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_unkPEaf5EeaPELw6Hy3jPQ" id="(0.22988505747126436,0.7972972972972973)"/>
    </edges>
    <edges xmi:id="_vG8SsKf5EeaPELw6Hy3jPQ" type="Transition" element="_vG7EkKf5EeaPELw6Hy3jPQ" source="_r9mjMKf5EeaPELw6Hy3jPQ" target="_r9mjMKf5EeaPELw6Hy3jPQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_vG8StKf5EeaPELw6Hy3jPQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_vG8Staf5EeaPELw6Hy3jPQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_vG8Stqf5EeaPELw6Hy3jPQ" x="9" y="150"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_vG8Ssaf5EeaPELw6Hy3jPQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_vG8Ss6f5EeaPELw6Hy3jPQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_vG8Ssqf5EeaPELw6Hy3jPQ" points="[19, 6, 19, 6]$[153, 48, 153, 48]$[144, -20, 144, -20]$[19, -3, 19, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vG-H4Kf5EeaPELw6Hy3jPQ" id="(0.7701149425287356,0.10810810810810811)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vG-H4af5EeaPELw6Hy3jPQ" id="(0.7701149425287356,0.10810810810810811)"/>
    </edges>
    <edges xmi:id="_4GdGMKp8Eea9rP9r4tEs6w" type="Transition" element="_4GcfIKp8Eea9rP9r4tEs6w" source="_29w_0Kp8Eea9rP9r4tEs6w" target="_3MszsKp8Eea9rP9r4tEs6w">
      <children xsi:type="notation:DecorationNode" xmi:id="_4GdtQKp8Eea9rP9r4tEs6w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_4GdtQap8Eea9rP9r4tEs6w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_4GdtQqp8Eea9rP9r4tEs6w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_4GdGMap8Eea9rP9r4tEs6w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_4GdGM6p8Eea9rP9r4tEs6w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_4GdGMqp8Eea9rP9r4tEs6w" points="[0, 7, 0, -113]$[7, 144, 7, 24]"/>
    </edges>
    <edges xmi:id="_4VVPsKp8Eea9rP9r4tEs6w" type="Transition" element="_4VUooKp8Eea9rP9r4tEs6w" source="_3MszsKp8Eea9rP9r4tEs6w" target="_3MszsKp8Eea9rP9r4tEs6w">
      <children xsi:type="notation:DecorationNode" xmi:id="_4VVPtKp8Eea9rP9r4tEs6w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_4VVPtap8Eea9rP9r4tEs6w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_4VVPtqp8Eea9rP9r4tEs6w" x="19" y="76"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_4VVPsap8Eea9rP9r4tEs6w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_4VVPs6p8Eea9rP9r4tEs6w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_4VVPsqp8Eea9rP9r4tEs6w" points="[18, 0, 18, 0]$[85, 0, 85, 0]$[85, 91, 85, 91]$[0, 91, 0, 91]$[0, 24, 0, 24]"/>
    </edges>
    <edges xmi:id="_gC3C0KwHEeaa-7PsRVUtzA" type="Transition" element="_gCyxYKwHEeaa-7PsRVUtzA" source="_cfJrgKwHEeaa-7PsRVUtzA" target="_SEMvkKwHEeaa-7PsRVUtzA">
      <children xsi:type="notation:DecorationNode" xmi:id="_gC3p4awHEeaa-7PsRVUtzA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_gC3p4qwHEeaa-7PsRVUtzA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_gC3p46wHEeaa-7PsRVUtzA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_gC3C0awHEeaa-7PsRVUtzA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_gC3p4KwHEeaa-7PsRVUtzA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_gC3C0qwHEeaa-7PsRVUtzA" points="[0, 7, -4, -52]$[-1, 35, -5, -24]"/>
    </edges>
    <edges xmi:id="_jbjc8KwHEeaa-7PsRVUtzA" type="Transition" element="_jbiO0KwHEeaa-7PsRVUtzA" source="_SEMvkKwHEeaa-7PsRVUtzA" target="_aBMbUKwHEeaa-7PsRVUtzA">
      <children xsi:type="notation:DecorationNode" xmi:id="_jbkEAawHEeaa-7PsRVUtzA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jbkEAqwHEeaa-7PsRVUtzA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jbkEA6wHEeaa-7PsRVUtzA" x="3" y="-16"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_jbjc8awHEeaa-7PsRVUtzA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_jbkEAKwHEeaa-7PsRVUtzA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_jbjc8qwHEeaa-7PsRVUtzA" points="[20, 5, -139, 5]$[124, 5, -35, 5]"/>
    </edges>
    <edges xmi:id="_kHsxQKwHEeaa-7PsRVUtzA" type="Transition" element="_kHqVAKwHEeaa-7PsRVUtzA" source="_SEMvkKwHEeaa-7PsRVUtzA" target="_a1x58KwHEeaa-7PsRVUtzA">
      <children xsi:type="notation:DecorationNode" xmi:id="_kHsxRKwHEeaa-7PsRVUtzA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_kHsxRawHEeaa-7PsRVUtzA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_kHsxRqwHEeaa-7PsRVUtzA" x="-21" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_kHsxQawHEeaa-7PsRVUtzA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_kHsxQ6wHEeaa-7PsRVUtzA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_kHsxQqwHEeaa-7PsRVUtzA" points="[0, 24, 220, -36]$[0, 60, 220, 0]$[-189, 60, 31, 0]"/>
    </edges>
    <edges xmi:id="_lgvAwKwHEeaa-7PsRVUtzA" type="Transition" element="_lgtLkKwHEeaa-7PsRVUtzA" source="_aBMbUKwHEeaa-7PsRVUtzA" target="_SEMvkKwHEeaa-7PsRVUtzA">
      <children xsi:type="notation:DecorationNode" xmi:id="_lgvAxKwHEeaa-7PsRVUtzA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_lgvAxawHEeaa-7PsRVUtzA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_lgvn0KwHEeaa-7PsRVUtzA" x="-4" y="-16"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_lgvAwawHEeaa-7PsRVUtzA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_lgvAw6wHEeaa-7PsRVUtzA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_lgvAwqwHEeaa-7PsRVUtzA" points="[-35, 2, 112, -4]$[-142, 24, 5, 18]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_lgyEEKwHEeaa-7PsRVUtzA" id="(0.8181818181818182,0.6415094339622641)"/>
    </edges>
    <edges xmi:id="_mVNxsKwHEeaa-7PsRVUtzA" type="Transition" element="_mVLVcKwHEeaa-7PsRVUtzA" source="_a1x58KwHEeaa-7PsRVUtzA" target="_SEMvkKwHEeaa-7PsRVUtzA">
      <children xsi:type="notation:DecorationNode" xmi:id="_mVOYwKwHEeaa-7PsRVUtzA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_mVOYwawHEeaa-7PsRVUtzA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_mVOYwqwHEeaa-7PsRVUtzA" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_mVNxsawHEeaa-7PsRVUtzA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_mVNxs6wHEeaa-7PsRVUtzA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_mVNxsqwHEeaa-7PsRVUtzA" points="[-2, -3, -174, 21]$[-15, -30, -187, -6]$[167, -30, -5, -6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mVQ1AKwHEeaa-7PsRVUtzA" id="(0.45454545454545453,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mVQ1AawHEeaa-7PsRVUtzA" id="(0.13636363636363635,0.8867924528301887)"/>
    </edges>
    <edges xmi:id="_SQ_HAKwKEeaa-7PsRVUtzA" type="Transition" element="_SQ6OgawKEeaa-7PsRVUtzA" source="_SQvPiawKEeaa-7PsRVUtzA" target="_SQvPZawKEeaa-7PsRVUtzA">
      <children xsi:type="notation:DecorationNode" xmi:id="_SQ_HAawKEeaa-7PsRVUtzA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_SQ_HAqwKEeaa-7PsRVUtzA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_SQ_HA6wKEeaa-7PsRVUtzA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_SQ_HBKwKEeaa-7PsRVUtzA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_SQ_HBawKEeaa-7PsRVUtzA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_SQ_HBqwKEeaa-7PsRVUtzA" points="[0, 7, -4, -52]$[-1, 35, -5, -24]"/>
    </edges>
    <edges xmi:id="_SQ_uEKwKEeaa-7PsRVUtzA" type="Transition" element="_SQy5wKwKEeaa-7PsRVUtzA" source="_SQvPZawKEeaa-7PsRVUtzA" target="_SQvPcawKEeaa-7PsRVUtzA">
      <children xsi:type="notation:DecorationNode" xmi:id="_SQ_uEawKEeaa-7PsRVUtzA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_SQ_uEqwKEeaa-7PsRVUtzA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_SQ_uE6wKEeaa-7PsRVUtzA" x="3" y="-16"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_SQ_uFKwKEeaa-7PsRVUtzA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_SQ_uFawKEeaa-7PsRVUtzA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_SQ_uFqwKEeaa-7PsRVUtzA" points="[20, 5, -139, 5]$[124, 5, -35, 5]"/>
    </edges>
    <edges xmi:id="_SQ_uF6wKEeaa-7PsRVUtzA" type="Transition" element="_SQ0H4KwKEeaa-7PsRVUtzA" source="_SQvPZawKEeaa-7PsRVUtzA" target="_SQvPfawKEeaa-7PsRVUtzA">
      <children xsi:type="notation:DecorationNode" xmi:id="_SQ_uGKwKEeaa-7PsRVUtzA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_SQ_uGawKEeaa-7PsRVUtzA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_SQ_uGqwKEeaa-7PsRVUtzA" x="-21" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_SQ_uG6wKEeaa-7PsRVUtzA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_SQ_uHKwKEeaa-7PsRVUtzA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_SQ_uHawKEeaa-7PsRVUtzA" points="[0, 24, 220, -36]$[0, 60, 220, 0]$[-189, 60, 31, 0]"/>
    </edges>
    <edges xmi:id="_SRAVIKwKEeaa-7PsRVUtzA" type="Transition" element="_SQ2kIKwKEeaa-7PsRVUtzA" source="_SQvPcawKEeaa-7PsRVUtzA" target="_SQvPZawKEeaa-7PsRVUtzA">
      <children xsi:type="notation:DecorationNode" xmi:id="_SRAVIawKEeaa-7PsRVUtzA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_SRAVIqwKEeaa-7PsRVUtzA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_SRAVI6wKEeaa-7PsRVUtzA" x="-4" y="-16"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_SRAVJKwKEeaa-7PsRVUtzA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_SRAVJawKEeaa-7PsRVUtzA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_SRAVJqwKEeaa-7PsRVUtzA" points="[-35, 2, 112, -4]$[-142, 24, 5, 18]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SRAVJ6wKEeaa-7PsRVUtzA" id="(0.8181818181818182,0.6415094339622641)"/>
    </edges>
    <edges xmi:id="_SRAVKKwKEeaa-7PsRVUtzA" type="Transition" element="_SQ4ZUawKEeaa-7PsRVUtzA" source="_SQvPfawKEeaa-7PsRVUtzA" target="_SQvPZawKEeaa-7PsRVUtzA">
      <children xsi:type="notation:DecorationNode" xmi:id="_SRAVKawKEeaa-7PsRVUtzA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_SRAVKqwKEeaa-7PsRVUtzA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_SRAVK6wKEeaa-7PsRVUtzA" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_SRAVLKwKEeaa-7PsRVUtzA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_SRAVLawKEeaa-7PsRVUtzA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_SRAVLqwKEeaa-7PsRVUtzA" points="[-2, -3, -174, 21]$[-15, -30, -187, -6]$[167, -30, -5, -6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SRAVL6wKEeaa-7PsRVUtzA" id="(0.45454545454545453,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SRAVMKwKEeaa-7PsRVUtzA" id="(0.13636363636363635,0.8867924528301887)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
